@import "tailwindcss";

/* Scroll behavior */
.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
    transition: background-color 0.3s ease;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 116, 139, 0.6);
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-container {
    scrollbar-width: thin;
}


/* Scrollbar color */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #3333e7;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3333e7;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #22d3ee;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3333e7 #18181b;
}